<div class="mainColumn rsc-results">

	<div class="row">
		<div class="col-xs-12 text-center">

			<div ng-if="sce.results.scenarioType!==1" class="text-center">
				<h3>{{ rsc.content.results['scenarioOnTrack'+sce.results.suffix] }}</h3>
				<br/>
				<span>{{ rsc.content.results['scenarioSurplusPart1'+sce.results.suffix] }}</span>
				<br/>
				<span class="header-large header-color-secondary">{{ sce.results.totalMonthlySurplus | currency:2 }}</span>
				<br/>
				<span>{{ rsc.content.results['scenarioSurplusPart2'+sce.results.suffix] }}</span>
			</div>
			
			<div ng-if="sce.results.scenarioType===1" class="text-center">
				<h3 class="calc-title text-center">{{ rsc.content.results['headerPart1'+sce.results.suffix] }}<p class="header-large header-color-secondary text-center">{{ sce.results.pvOfRecommendedInvestement | currency:2 }}</p>{{ rsc.content.results['headerPart2'+sce.results.suffix] }}</h3>
				<br/>
				<span>{{ rsc.content.results['scenarioShortfallPart1'+sce.results.suffix] }}</span>
				<br/>
				<span class="header-large header-color-secondary">{{ sce.results.totalMonthlyContributionsNeeded | currency:2 }}</span>
				<br/>
				<span>{{ rsc.content.results.scenarioShortfallPart2 }}</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<chart class="chartRSC" ng-model="sce.results.chartHISA"></chart>
		</div>
		<div class="bottomColumn">
				<div class="form-group" style="padding:0 7px">
					<div ng-include="module.hisaBoostSavings" data-scenario-index="0"></div>
				</div>
		</div>
	</div>

	<br/>
	<div class="disclaimer" ng-bind-html="rsc.content.disclaimer | html"></div>

</div>