<form class="br-hisa-form">
	<div class="scenario" ng-cloak>
		<button ng-click="collapse.savings = !collapse.savings" class="collapse-button align-left {{ collapse.savings ? '' : ' active' }}">
			<span class="glyphicon glyphicon-chevron-down"></span>
			{{ hisa.content.savingsHeader }}
			<meri-tooltip-with-header parent="parent" message="hisa.specs['savingsHeader' + sce.results.suffix].tooltip.message"></meri-tooltip-with-header>
		</button>
		<div uib-collapse="collapse.savings">
			<meri-input 
				id="'initialDepositAmount' + sce.results.suffix + '_' + sce.data.scenarioIndex"
				class="override-all"
				data-binding="sce.data.initialDepositAmount"
				field-specs="hisa.specs['initialDepositAmount' + sce.results.suffix]"
				field-validation="sce.validation.initialDepositAmount">
			</meri-input>

			<meri-input
				id="'monthlyDepositAmount' + sce.results.suffix + '_' + sce.data.scenarioIndex" 
				class="override-all"
				data-binding="sce.data.monthlyDepositAmount"
				field-specs="hisa.specs['monthlyDepositAmount' + sce.results.suffix]"
				field-validation="sce.validation.monthlyDepositAmount">
			</meri-input>
	
			<meri-select 
				field-specs="hisa.specs.savingDuration"
				data-binding="sce.data.savingDuration"
				class="savingsSelect override-all">
			</meri-select>
			
			<meri-range-slider 
				ng-init="getDefaultVal(sce.data.savingDuration)"
				slider-id="hisa.specs.sliderSavingDuration.label" 
				slider-text-id="hisa.specs.sliderSavingDuration.textId" 
				min="sce.data.savingDuration==='monthly' ? sce.data.sliderSavingDurationMonthly.min : sce.data.sliderSavingDurationYearly.min"
				max="sce.data.savingDuration==='monthly' ? sce.data.sliderSavingDurationMonthly.max : sce.data.sliderSavingDurationYearly.max"
				step="hisa.specs.sliderSavingDuration.step"
				default-val="value"
				field-validation="sce.data.savingDuration==='monthly' ? sce.validation.sliderSavingDurationMonthly : sce.validation.sliderSavingDurationYearly">
			</meri-range-slider>
			
			<meri-select 
				field-specs="hisa.specs.meridianSavingsAccount" 
				data-binding="sce.data.savingsAccountType" 
				class="merdianSavings">
			</meri-select>

			<label class="bold">{{hisa.content.savingsOptions.autoSaveOptions}}</label>
		</div>

		<button ng-click="collapse.debitTransfer = !collapse.debitTransfer" class="collapse-button align-left {{ collapse.debitTransfer ? '' : ' active' }} collapsed">
			<span class="glyphicon glyphicon-chevron-down"></span>
			<div class="collapse-header">
				<div class="header">
					{{ hisa.content.debitTransferHeader }}
					<meri-tooltip-with-header parent="parent" message="hisa.specs['debitTransferContent' + sce.results.suffix].tooltip.message"></meri-tooltip-with-header>
				</div>

				<div class="sub-heading">
					{{hisa.content.debitTransferDefaultContent}}
				</div>
			</div>
		</button>

		<div uib-collapse="collapse.debitTransfer">

			<meri-input
				id="numberOfMonthlyDebitTransactions" 
				class="numMonthlyTrx"
				data-binding="sce.data.numberOfMonthlyDebitTransactions"
				field-specs="hisa.specs.numberOfMonthlyDebitTransactions" 
				ng-model="sce.data.numberOfMonthlyDebitTransactions" 
				field-validation="sce.validation.debitTransactions">
			</meri-input>

			<label class="stdSpacing">{{hisa.content.debitTransfer.amountToDepositPerTransaction}}</label>

			<meri-range-slider
				slider-id="hisa.specs.sliderDebitTransfer.label"
				slider-text-id="hisa.specs.sliderDebitTransfer.textId"
				min="hisa.specs.sliderDebitTransfer.min"
				max="hisa.specs.sliderDebitTransfer.max"
				step="hisa.specs.sliderDebitTransfer.step"
				default-val="hisa.specs.sliderDebitTransfer.defaultValue"
				display-min="hisa.specs.sliderDebitTransfer.displayMin"
				display-max="hisa.specs.sliderDebitTransfer.displayMax">
			</meri-range-slider>
			<div class="clear clearDeposit">
				<button ng-click="resetDebitTransfer()">{{ hisa.content.debitTransfer.clear }}</button>
			</div>
		</div>

		<button ng-click="collapse.depositTransfer = !collapse.depositTransfer" class="collapse-button align-left {{ collapse.depositTransfer ? '' : ' active' }} collapsed">
			<span class="glyphicon glyphicon-chevron-down"></span>
			<div class="collapse-header">
				<div class="header">
					{{ hisa.content.depositTransferHeader }}
					<meri-tooltip-with-header parent="parent" message="hisa.specs['depositTransferContent' + sce.results.suffix].tooltip.message"></meri-tooltip-with-header>
				</div>
				<div class="sub-heading">
					{{hisa.content.depositTransferDefaultContent}}
				</div>
			</div>
		</button>
		<div uib-collapse="collapse.depositTransfer">
			<meri-input
				id="'monthlyCreditsPay' + sce.results.suffix + '_' + sce.data.scenarioIndex"
				class="monCreditPay"
				data-binding="sce.data.monthlyCreditsPay"
				field-specs="hisa.specs['monthlyCreditsPay' + sce.results.suffix]"
				ng-model="sce.data.monthlyCreditsPay"
				field-validation="sce.validation.monthlyCreditsPay">>
			</meri-input>
			<label class="stdSpacing">{{hisa.content.depositTransfer.percentageToTransferPerPay}}</label>
			<meri-range-slider slider-id="hisa.specs.sliderDepositTransfer.label" slider-text-id="hisa.specs.sliderDepositTransfer.textId"  min="hisa.specs.sliderDepositTransfer.min" max="hisa.specs.sliderDepositTransfer.max"
			    step="hisa.specs.sliderDepositTransfer.step" default-val="hisa.specs.sliderDepositTransfer.defaultValue" display-min="hisa.specs.sliderDepositTransfer.displayMin"
			    display-max="hisa.specs.sliderDepositTransfer.displayMax">
			</meri-range-slider>
			<div class="clear clearTransfer">
				<button ng-click="resetDepositTransfer()">{{ hisa.content.depositTransfer.clear }}</button>
			</div>
		</div>
	</div>
</form>
