<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Mortgage Tools: Three-in-one</title>

	<!-- Temporary styling for demonstration purposes only -->
	<style>
		.br-calc {
			max-width: 980px;
			margin:0 auto;
			border:1px solid #838383;
			-webkit-background-clip: padding-box;
			-webkit-border-radius: 5px;
			-moz-background-clip: padding-box;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background-clip: padding-box;
		}
	</style>

	<!-- inject:css -->
	<link rel="stylesheet" href="assets/css/threeInOne.css?1537217954506">
	<!-- endinject -->
</head>
<!-- Important!! -->
<!-- ng-jq attribute on body element to have angular use other variable for jQuery -->
<body ng-jq="$cmsj">

	<div ng-app="br-calc" ng-controller="br-calc as app" class="br-calc" ng-cloak>

		<nav>
			<ul class="list-inline">
				<li class="{{tabData.getCurrentTab('threeInOne') === 'affordability'?'active':''}}">
					<a href="#affordability" tab-group="threeInOne">{{ content.calculatorNames.affordability }}</a>
				</li>
				<li class="{{tabData.getCurrentTab('threeInOne') === 'mortgagePayment'?'active':''}}">
					<a href="#mortgagePayment" tab-group="threeInOne" tab-default="true" class="">{{ content.calculatorNames.paymentCalculator }}</a>
				</li>
				<li class="{{tabData.getCurrentTab('threeInOne') === 'lineOfCredit'?'active':''}}">
					<a href="#lineOfCredit" tab-group="threeInOne" class="">{{ content.calculatorNames.lineOfCredit }}</a>
				</li>
			</ul>
		</nav>

		<div class="tabContent">
			<div  ng-cloak ng-if="tabData.getCurrentTab('threeInOne') === 'affordability'" ng-include="module.affordabilityCalculator"></div>
			<!-- <div ng-cloak ng-if="tabData.getCurrentTab('threeInOne') === 'affordability'" ng-include="module.affordabilityCalculator"></div> -->
			<!-- <div ng-cloak data-ng-if="tabData.getCurrentTab('threeInOne') === 'affordability'" data-ng-include="module.affordabilityCalculator"></div> -->
			<!-- <ng-include ng-if="tabData.getCurrentTab('threeInOne') === 'affordability'" src="module.affordabilityCalculator"></ng-include> -->
			<div  ng-cloak ng-if="tabData.getCurrentTab('threeInOne') === 'mortgagePayment'" ng-include="module.mortgagePaymentCalculator"></div>
			<div  ng-cloak ng-if="tabData.getCurrentTab('threeInOne') === 'lineOfCredit'" ng-include="module.lineOfCreditCalculator"></div>
		</div>

	</div>

	<!-- jQuery version 1.9.1 -->
		<script type="text/javascript" src="vendors/js/jquery.min.js?1464967859795"></script>
	<!-- Important!! -->
	<!-- highcharts.js and highcharts-more.js MUST be loaded after jQuery,
			but BEFORE jQuery is assigned to noConflict variable -->
		<script type="text/javascript" src="vendors/js/highcharts.js?1464967859795"></script>

	<!-- Temporary jQuery noConflict variable $cmsj -->
	<!-- Simulating production environment -->
	<!-- Replace in production with read noConflict assignment. -->
				<script type="text/javascript" src="assets/js/jquery-cmsj-no-conflict.js?1464967859795"></script>

		<script type="text/javascript" src="vendors/js/angular.min.js?1464967859795"></script>

	<!-- Temporary Rates simulation -->
	<!-- Replace in production with real method Rates.getAll(); -->
		<script type="text/javascript" src="assets/js/rates.js?1464967859795"></script>

	<!-- Unmerged config files for Edits -->
		<script type="text/javascript" src="assets/config/dataConfig.js?1464967859795"></script>
		<script type="text/javascript" src="assets/config/threeInOneConfig.js?1464967859795"></script>
	<!-- END config -->

	<!-- inject:js -->
	<script type="text/javascript" src="assets/js/threeInOne.js?1537217954505"></script>
	<!-- endinject -->
	
</body>
</html>