<div class="mainColumn br-hisa-results">
	<div class="row">
		<div class="col-xs-12 text-center">

			<div class="text-center">
				<h3 class="hisa-header">{{ hisa.content.hisaHeader }}</h3>
				<span class="header-large header-color-secondary">{{ sce.data.totalSavings | currency:2 }}</span>
				<br/>
			</div>
		</div>
	</div>
	<div class="row chart-container">
		<div class="col-xs-12">
			<chart class="chartHISA full-width" ng-model="sce.results.chartHISA" ng-if="isChartOpen"></chart>
			<!--Show table when chart is hidden-->
			<div class="text-center table-responsive" ng-if="isTableOpen" ng-class="{ 'tbl-overflow': isTableOpen}" >
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>{{sce.data.savingDuration === 'monthly' ? 'Months' : 'Years'}}</td>
							<td>Deposits</td>
							<td>Interest Earned</td>
							<td>Total</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, obj) in sce.results.resultsBySavingDuration  track by $index">
							<td>{{ $index + 1 }}</td>
							<td>{{ obj.deposit | currency:2 }}</td>
							<td>{{ obj.interest | currency:2 }}</td>
							<td>{{ obj.total | currency:2 }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="btn-group btn-group-justified center-block btn-charts" role="group" aria-label="..." >
			<div class="btn-group" role="group">
				<button class="btn btn-default" role="button" aria-pressed="{{isChartOpen}}" ng-class="{'btn-highlight':isChartOpen}" ng-click="toggleChart('graph')">{{hisa.content.graph}}</button>
			</div>
			<div class="btn-group" role="group">
				<button class="btn btn-default" role="button" aria-pressed="{{isTableOpen}}" ng-class="{ 'btn-highlight': isTableOpen}" ng-click="toggleChart('table')">{{hisa.content.table}}</button>
			</div>
		</div>
		<div class="bottomColumn">
			<div class="form-group" style="padding:0 7px">
				<div ng-include="module.hisaBoostSavings" data-scenario-index="0"></div>
			</div>
		</div>
	</div>
</div>