<div class="mainColumn rsc-results">

	<div class="row">
		<div class="col-xs-12 text-center">

			<div ng-if="sce.results.scenarioType!==1" class="text-center">
				<h3>{{ rsc.content.results['scenarioOnTrack'+sce.results.suffix] }}</h3>
				<br/>
				<span>{{ rsc.content.results['scenarioSurplusPart1'+sce.results.suffix] }}</span>
				<br/>
				<span class="header-large header-color-secondary">{{ sce.results.totalMonthlySurplus | currency:2 }}</span>
				<br/>
				<span>{{ rsc.content.results['scenarioSurplusPart2'+sce.results.suffix] }}</span>
			</div>
			
			<div ng-if="sce.results.scenarioType===1" class="text-center">
				<h3 class="calc-title text-center">{{ rsc.content.results['headerPart1'+sce.results.suffix] }}<p class="header-large header-color-secondary text-center">{{ sce.results.pvOfRecommendedInvestement | currency:2 }}</p>{{ rsc.content.results['headerPart2'+sce.results.suffix] }}</h3>
				<br/>
				<span>{{ rsc.content.results['scenarioShortfallPart1'+sce.results.suffix] }}</span>
				<br/>
				<span class="header-large header-color-secondary">{{ sce.results.totalMonthlyContributionsNeeded | currency:2 }}</span>
				<br/>
				<span>{{ rsc.content.results.scenarioShortfallPart2 }}</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<chart class="chartRSC" ng-model="sce.results.chartRSC"></chart>
		</div>
	</div>

	<div class="row rsc-results-row">
		<div class="col-xs-12">
			<div class="rsc-summary-wrapper">
				<table class="hidden-xs">
					<thead>
						<tr>
							<th class="results-savings-goal">{{ rsc.content.highchart.savingsGoal }}</th>
							<th class="results-actual-savings">{{ rsc.content.highchart.actualSavings }}</th>
							<th class="results-shortfall" ng-if="sce.results.scenarioType===1">{{ rsc.content.highchart.shortfall }}</th>
							<th class="results-surplus" ng-if="sce.results.scenarioType!==1">{{ rsc.content.highchart.surplus }}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ sce.results.savingsGoalTextResult = rsc.content.results.resultsSummaryPart1 + ( sce.results.pvOfRecommendedInvestement | currency:2 ) + rsc.content.results.resultsSummaryPart2 + ( sce.results.recommendedInvestmentPerYear | currency:2 ) + rsc.content.results.resultsSummaryOverXyear + ( sce.data.yearsInRetirement | year:0 ) + '.'}}</td>
							<td>{{ sce.results.actualSavingsTextResult = rsc.content.results.resultsSummaryPart1 + ( sce.results.savingsAtRetirement | currency:2 ) + rsc.content.results.resultsSummaryPart2 + ( sce.results.annualIncomeBasedOnActualSavings | currency:2 ) + rsc.content.results.resultsSummaryOverXyear + ( sce.data.yearsInRetirement | year:0 ) + '.'}}</td>
							<td ng-if="sce.results.scenarioType===1">{{ sce.results.shortfallGraph | currency:2 }}</td>
							<td ng-if="sce.results.scenarioType!==1">{{ sce.results.surplusGraph | currency:2 }}</td>
						</tr>
					</tbody>
				</table>

				<table class="visible-xs">
					<thead>
						<tr><th class="results-savings-goal">{{ rsc.content.highchart.savingsGoal }}</th></tr>
					</thead>
					<tbody>
						<tr><td>{{ sce.results.savingsGoalTextResult }}</td></tr>
					</tbody>
				</table>
				<table class="visible-xs">
					<thead>
						<tr><th class="results-actual-savings">{{ rsc.content.highchart.actualSavings }}</th></tr>
					</thead>
					<tbody>
						<tr><td>{{ sce.results.actualSavingsTextResult }}</td></tr>
					</tbody>
				</table>
				<table class="visible-xs" ng-if="sce.results.scenarioType===1">
					<thead>
						<tr><th class="results-shortfall">{{ rsc.content.highchart.shortfall }}</th></tr>
					</thead>
					<tbody>
						<tr><td>{{ sce.results.shortfallGraph | currency:2 }}</td></tr>
					</tbody>
				</table>
				<table class="visible-xs" ng-if="sce.results.scenarioType!==1">
					<thead>
						<tr><th class="results-surplus">{{ rsc.content.highchart.surplus }}</th></tr>
					</thead>
					<tbody>
						<tr><td>{{ sce.results.surplusGraph | currency:2 }}</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<br/>
	
	<div class="actions">
		<a href="https://www.meridiancu.ca/ways-to-bank/contact-us.aspx" class="btn btn-warning">{{ content.ui.btnContactAdvisor }}</a>
		<a ng-show="!isMobile" onclick="window.print(); return false;" href="#" class="btn btn-link"><i class="glyphicon glyphicon-print"></i> {{ content.ui.btnPrintReport }}</a>
	</div>

	<div class="disclaimer" ng-bind-html="rsc.content.disclaimer | html"></div>

</div>