@import 'meridian';
.br {
	&-calc
	 .leftColumn{
		label.bold{
			font-weight: 800;
		}
	 } 
	 &-hisa-form
	 	.clear{
			 padding: 0 7px;
			 button{
				background: none;
				border: none;
				outline: none;
				padding: 0;
			 }
		 }
}