@import "meridian";
.br {
    &-calc {
        a.link{
            padding-left: 5px;
            text-decoration: none;
            margin-bottom: 10px;
            margin-top: 10px;
            display: inline-block;
            font-size: 14px;
        }
        .maturity-calendar{
            input{
                &::-webkit-inner-spin-button {
                    opacity: 0
                }
                &::-webkit-calendar-picker-indicator {
                    background: url(../img/calendar.png) center/70% no-repeat;
                    color: rgba(0, 0, 0, 0);
                    opacity: 0.9;
                }
                &::-webkit-calendar-picker-indicator:hover {
                    background: url(../img/calendar.png) center/70% no-repeat;
                    opacity: 0.9;
                    cursor: pointer;
                }
                &::-webkit-clear-button {
                    display: none;
                }
                //firfox
                &::-moz-inner-spin-button {
                    opacity: 0
                }
                &::-moz-calendar-picker-indicator {
                    background: url(../img/calendar.png) center/80% no-repeat;
                    color: rgba(0, 0, 0, 0);
                    opacity: 0.9;
                }
                &::-moz-calendar-picker-indicator:hover {
                    background: url(../img/calendar.png) center/80% no-repeat;
                    opacity: 0.9;
                    cursor: pointer;
                }
                &::-moz-clear-button {
                    display: none;
                }
                &:disabled{
                    text-align: right;
                }
            }
        }
        .mortgage-containder{
            display: flex;
            .mortgage-type{
                width:100%;
                margin-bottom: 0;
                padding: 0;
            }
            div{
                &:nth-of-type(1){
                    width: 50%;
                }
                &:nth-of-type(2){
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    width: 50%;
                }
                &.error{
                    border: solid 2px #DC8633;
                    color: #DC8633;
                    -webkit-background-clip: padding-box;
                    -webkit-border-radius: 5px;
                    -moz-background-clip: padding-box;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    background-clip: padding-box;
                    margin : -7px 2px 0 4px;
                    padding: 5px;
                    text-align: right;
                }
            }

            .rate{
                width: 82%;
                margin-bottom: 0px;
            }
        }
        .link-disclaimer{
            cursor: pointer;
            text-align: center;
            font-size: 14px;
            color: #39709A;	
            font-family: Arial;
        }
        .disclaimer{
            text-align: left;
            margin-top: 10px;
        }
        .mainColumn {
            .calculation{
                height: 55px;
                vertical-align: middle;
                padding-top: 17px;
                width: 622px;
                margin-left: 10px;
                margin-top: 15px;
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: bold;
                font-family: Arial;
                text-align: center;
            }
            .blue{
                background-color: #39709A;
                color: white;
            }
            .white{
                background-color: #ffffff;
                color: #3F3F3F;
                margin: 0;
                padding: 0;
                height: 20px;
            }
        }
        @media (max-width: 991px){
            .results{
                width: 100%;
                margin-left: -10px;
                .blue{
                    width: 100%;
                }
                .white{
                    text-align: center;
                    width: 100%;
                }
            }
        }
        /* Extra Small Devices, Phones */ 
        @media (max-width : 480px) {
                .actions{
                    .btn{
                        display: block;
                        width: 50%;
                        margin: 0 auto; 
                    }
                    .apply{
                        margin-top:15px;
                    }
                }
        }
    }
}
