@import "meridian";
.br {
    &-calc {
        a.link{
            padding-left: 5px;
            text-decoration: none;
            margin-bottom: 10px;
            display: block;
        }
        .link-disclaimer{
            cursor: pointer;
            text-align: center;
            font-size: 14px;
            color: #39709A;	
            font-family: Arial;
        }
        .disclaimer{
            text-align: left;
            margin-top: 10px;
        }
        .mainColumn {
            .calculation{
                height: 55px;
                vertical-align: middle;
                padding-top: 17px;
                width: 622px;
                margin-left: 10px;
                margin-top: 15px;
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: bold;
                font-family: Arial;
                text-align: center;
            }
            .blue{
                background-color: #39709A;
                color: white;
            }
            .white{
                background-color: #ffffff;
                color: #3F3F3F;
                margin: 0;
                padding: 0;
                height: 20px;
            }
        }
        @media (max-width: 991px){
            .results{
                border : 1px solid red;
            }
        }
    }
}

//calender control
input[type="date"]::-webkit-inner-spin-button {
    opacity: 0
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(../img/calendar.png) center/80% no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5
  }
  input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background: url(../img/calendar.png) center/80% no-repeat;
    opacity: 0.8
  }
  
  input[type="date"]::-webkit-clear-button {
    display: none;
  }